<html>
   <body>
      <!-- <form action = "http://127.0.0.1:5000/uploader" method = "POST"  -->
      <form action = "{{url_for('uploader')}}" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      <h3> Error : {{args}}</h3>

      <hr>
      <form action = "{{url_for('processing')}}" method = "POST">
        <button type="submit" value="Processing"> Processing </button>
      </form>

   </body>
</html>
